<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header id="global-header" th:fragment="header">
    <nav class="navbar navbar-default bg-info">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Todoリスト</a>
                <a class="navbar-brand" href="/search">検索</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
