<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div th:fragment="todoListBody">
        <div th:if="${isSearched}">
            <div th:if="${flag}">
                <p class="text-danger">ToDoが[[${todoCount}]]件見つかりました</p>
                <div th:each="todo:${todos}" th:object="${todo}">
                    <div th:replace="~{/todo-block.html :: card}"></div>
                </div>
            </div>
            <div th:if="${!flag}">
                <p class="text-danger">対象のToDoは見つかりません</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>


